
.imgStyle {
    @apply bg-gradient-to-r from-gray-600 to-zinc-500;
    position: relative;
    overflow: hidden;
}
.cartoonImg{
    background: url("../../static/music.jpg") no-repeat;
    position: absolute;
    bottom: 0; left: 0; right: 0;top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.input_text:focus{
    color: "#495464";
}